
main {
  margin: 0 auto;
  padding: 4rem 0;
  width: 100%;
  max-width: 100%;
}


form {
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 90%);
  gap: 2rem;
}


input,
textarea {
  font: 1em/1.1em sans-serif;
  border: none;
  padding: 0 10px;
  margin: 0;
  width: 90%;
  size: 12;
  background: none;
}

.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type='text'] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 15px;
}