.gitattributes !filter !diff
bash/.plaidrc filter=git-crypt diff=git-crypt
bash/.config/* filter=git-crypt diff=git-crypt
bash/.plaid-cli/* filter=git-crypt diff=git-crypt
bash/.plaid-cli/data/* filter=git-crypt diff=git-crypt
bash/plaid.env filter=git-crypt diff=git-crypt
bash/.gitconfig filter=git-crypt diff=git-crypt
bash/.git-credentials filter=git-crypt diff=git-crypt
plaid-flask/config/* filter=git-crypt diff=git-crypt
plaid-node/plaid.js filter=git-crypt diff=git-crypt
python-flask/config/* filter=git-crypt diff=git-crypt
plaid.env filter=git-crypt diff=git-crypt