!.vscode/*.json
!.vscode/.jsbeautifyrc
*.class
*.db
*.diff
*.err
*.gdf
*.gv
*.jar
*.log
*.log
*.orig
*.out
*.pl.rf
*.png
*.pyc
*.rej
*.sass-cache
*.swo
*.swp
*.tf
*.vi
*.zip
*~
.bat - Copy/
.cache
.DS_Store
.git/
.idea/
.metadata/
.project
.ropeproject/
.settings
.settings/
.tmp.*/
.tmproj
.vscode/
__pycache__/
bower_components/
chokidar.log
gmon.out
nbproject
config.json
node_modules/
npm-debug.log
out/
plaunch_*.json
public/
rclone/
Thumbs.db
tmp/
typings/
/atlastk/
/pyswip/
/tarjan/
/PyFiSync/
/pylibui/
/inotify-tools/
/pyinotify/
/python-mandrake/
/mercurial-5.1/
/drive/
/*.zip/
/fdb/
/rsinc/
/pynsource/
/pymerkle/
/mutable_merkle/
/skicka/
/python/tmp/
/undebt/
/bowler/
/rtl-sdr-blog/
*.iml
.gradle
local.properties
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
PHILC.*
asco*.*
Altium/CM/**
rclone
plaid-cli
**/Finance.db
**/yappi*