!.vscode/*.json
!.vscode/.jsbeautifyrc
*.class
*.diff
*.err
*.jar
*.log
*.log
*.orig
*.out
*.pyc
*.rej
*.sass-cache
*.swo
*.swp
*.vi
*~
.bat - Copy/
.cache
.DS_Store
.git/
.idea/
.metadata/
.project
.settings
.settings/
.tmproj
.vscode/
__pycache__/
bower_components/
chokidar.log
gmon.out
nbproject
node_modules/
node_modules/
npm-debug.log
out/
plaunch_*.json
public/
Thumbs.db
tmp/
typings/
/pony/
/winwatcher/
