!.vscode/*.json
!.vscode/.jsbeautifyrc
*.class
*.diff
*.err
*.jar
*.log
*.log
*.orig
*.out
*.pyc
*.rej
*.sass-cache
*.swo
*.swp
*.vi
*~
.bat - Copy/
.cache
.DS_Store
.git/
.gradle/
.idea/
.ivy2/
.metadata/
.project
.settings
.settings/
.tmproj
.vscode/
__pycache__/
bower_components/
build/
gradle/
node_modules/
out/
pony/
public/
target/
tmp/
typings/
winwatcher/
chokidar.log
clog_*.json
gmon.out
gradle.properties
nbproject
npm-debug.log
plaunch_*.json
Thumbs.db
!build\libs\scala-test.jar
bin/
